###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env

###OSX###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

## Dependency directorys
node_modules
bower_components
npm-debug.log
