//Overview
.amount-input-field {
  // margin: 0 auto;
}

.inputContainer {
  // margin 0 auto;
  @include flexCenter()
  button {
    margin-left:5px !important;
  }

}

.greenDeposit {
  color: $greenDeposit
}

.redWithdraw {
  color: $redWithdraw
}
