//Overview

.inputContainer {
  // margin 0 auto;
  @include flexCenter()
  button {
    margin-left:5px !important;
  }
}

.transactionRow {
  &:hover {
    transition:.8s;
    background-color: #D4E3CC;
  }
}

.greenDeposit {
  color: $greenDeposit
}

.redWithdraw {
  color: $redWithdraw
}

.BillsOverviewContainerSummary, .billsContainer {
  p {
    word-wrap:break-word;
  }
  max-width:200px;
  min-height:130px;
  max-height:160px;
  animation: ripple 1s ease-in-out;
  @media #{$mq-xs, $mq-sm}{
    width:100% !important;
  }
}

.circleDiv {
  @include circleDiv(50px);
}

.miniOverview, .deposit-withdraw {
  animation: ripple .5s ease-in-out;
  height:135px !important;
}