//Mixins

@mixin flexCenter(){
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

@keyframes ripple {
 0% {transform: scale(0);}
 20%{transform: scale(0.1);opacity:0.3;}
 50%{transform: scale(1);opacity:0.7;}
 100%{transform: scale(1);opacity:1;}
}

@mixin circleDiv($size){
  transition:.1s ease-in-out !important;
  position:fixed !important;
  bottom:5px !important;
  right:5px !important;
  width: $size !important;
  height: $size !important;
  padding-top: 15px !important;
  border-radius:50% !important;
  background: #ef8913 !important;
  text-align:center !important;
  cursor:pointer !important;
  color:white !important;
  font-weight:500 !important;
  &:hover{
   background: #F0DD2B !important;
 }
  &:active{
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;
  }
}