// This is the top-level scss file.
// Mixins
@import './mixins/mixins';

// Modules
@import './modules/normalize';
@import './modules/variables';

// Partials
@import './partials/navbar';
@import './partials/overview';




//Global
.emptySpace {
    width:100%;
    height:10px;
    clear:both;
}

.forMobile {
  @media #{$mq-m, $mq-lg, $mq-xlg}{
    display:none !important;
  }
}

.forDesktop {
  @media #{$mq-xs, $mq-sm}{
    display:none !important;
  }
}


.testing {
  // height:200px;
}
